@model PO_Financing.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<link href="../assets/css/style-admin.css" rel="stylesheet">

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center" style="margin-top:50px; margin-bottom: 50px">
                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="../assets/img/LogoIcon.png" alt="">
                            <span class="d-none d-lg-block" style="color:#61B834;">P&E</span><span style="color:dodgerblue; margin-left:7px"> Finance</span>
                        </a>
                    </div><!-- End Logo -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                <p class="text-center small">Enter your personal details to create account</p>
                            </div>

                            <form class="row g-3 needs-validation" method="post" onsubmit="return ValidatePassword()">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-12">
                                    <label for="yourName" class="form-label">Firstname</label>
                                    <input type="text" asp-for="Firstname" class="form-control" required>
                                    <span asp-validation-for="Firstname" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Lastname</label>
                                    <input type="text" asp-for="Lastname" class="form-control" required>
                                    <span asp-validation-for="Lastname" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Email</label>
                                    <input type="email" asp-for="Email" class="form-control" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Cellphone</label>
                                    <input type="number" asp-for="PhoneNumber" class="form-control" required>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" asp-for="Password" class="form-control" required id="Password">
                                    <ul style="list-style-type: square;margin-left: 20px;font-size: 12px;color: gray;line-height: 1.4;">
                                        <li>Must contain 8 or more characters</li>
                                        <li>Must contain lower letter a-z</li>
                                        <li>Must contain upper letter A-Z</li>
                                        <li>Must contain a number 0-9</li>
                                        <li>Must contain special character (like $%!^&*++=)</li>
                                    </ul>
                                    <span asp-validation-for="Password" class="text-danger" id="validPass"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" required>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input"  type="checkbox" value="" id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                        <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                    <span asp-validation-for="Terms" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Already have an account? <a asp-action="Login">Log in</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    localStorage['currentPage'] = 'Register';

    function ValidatePassword() 
    {
        var validPass = CheckPassword($("#Password").val());
        if (validPass == false) 
        {
            $("#validPass").text('The password must match all the requirements above');
        }
        return validPass;
    }

</script>

<script src="../assets/js/jquery.js"></script>