.login-btn, .default-btn
{
    background: #3EC1D5;
    color: white;
}

.curve-btn
{
    border-radius: 40px;
}

.login-btn:hover, .default-btn:hover
{
    background: #3EC1D5;
    color: white;
    opacity: 0.5;
}

.apply-info-dialog-container
{
    margin-top: 30px;
}

.apply-info-dialog
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.apply-next-btn
{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

.apply-textBox
{
    width: 80%;
}

.hidden
{
    display: none;
}

.dashboardContainer
{
    margin-top:130px; 
    min-height:100vh; 
    margin-left:20%; 
    margin-right:20%;
}

.profSoftwaresLogo
{
    width:160px;
    height: 50px;
    cursor: pointer;
    margin-top:15px;
}

.credits-font
{
    color:#3EC1D5;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
}

.sendMsgBtn
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
}

@media (max-width: 990px)
{
    .apply-info-dialog
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .nav-link-login, .nav-link-register, .nav-link-apply
    {
        background: none !important;
        border: none !important;
        padding: 10px 20px !important;
        margin: 10px;
    }
    .dashboardContainer
    {
        margin-left:auto; 
        margin-right:auto;
    }
    .credits-font
    {
       /* font-size:13px;*/
    }
    #NavContainer
    {
        justify-content: space-between!important;
    }
}

@media (max-width: 767px)
{
    .apply-info-dialog
    {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .apply-next-btn
    {
        margin-top: 0;
        width:70%;
    }
}

@media (max-width: 575px)
{
    .apply-next-btn
    {
        width:95%;
        margin-left:auto;
    }
    .apply-info-dialog
    {
        margin-top: 0px;
    }
    .apply-textBox
    {
        width: 100%;
    }
}
